 
  header {
    height: 5%;
  }

  .info, .user-options {
    width: 50%;
    align-self: center;
  }

  .profile-picture {
    display: inline-block;
  }

  .user-options {
    text-align: end;
  }

  .action {
    display: inline-block;
    cursor: pointer;
  }

