.friendships-bar-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  /* friends */
  .frienship-category {
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgb(213, 213, 241);
  }
  
  .friend-box {
    justify-content: space-between;
  }
  
  .friend-info {
    display: flex;
    align-items: center;
  }
  
  .info-icon {
    margin: 0 10px;
    font-size: 85%;
    border-radius: 50%;
    background-color: rgb(26, 46, 88);
    cursor: pointer;
    color: white;
  }

  .friend-profile {
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
  }

  .friend-profile button {
    position: absolute;
    top: 2%;
    right: 2%;
    color: lightgray;
    background-color: #424949;
  }
  
  .friend-profile-open {
    height: 30vh;
    border-top: 2px lightgray solid;
    border-bottom: 2px lightgray solid;
  }

  .friend-profile-close {
    height: 0;
    border-bottom: 2px lightgray solid;
  }

  .slide-down {
    animation-name: slideOutDown;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    transition-property: all;
  }

  .slide-up {
    animation-name: slideOutUp;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    transition-property: all;
  }

  @keyframes slideOutDown {
    0% {
      height: 0;
    }
    100% {
      height: 30vh;
    }
  }

  @keyframes slideOutUp {
    0% {
      height: 30vh;
    }
    100% {
      height: 0;
    }
  }


  /* suggestions */
  .btn-add-friend{
    background-color: beige;
    border: none;
    font-size: 80%;
    border-radius: 15%;
    cursor: pointer;
  }

  .btn-add-friend:hover {
    border: 1px solid black;
  }