.friendships-bar-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  /* friends */
  .frienship-category {
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgb(213, 213, 241);
  }
  
  .friend-box {
    justify-content: space-between;
  }
  
  .friend-profile {
    width: 100%;
    background-color: red;
    height: 30vh;
    position: absolute;
    top: 0;
    right: 0;
  }

  .friend-profile-close {
    height: 0;
  }

  .slide-down {
    animation-name: slideOutDown;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    transition-property: all;
  }

  @keyframes slideOutDown {
    0% {
      height: 0;
    }
    100% {
      height: 30vh;
    }

  }

  /* suggestions */
  .btn-add-friend{
    background-color: beige;
    border: none;
    font-size: 80%;
    border-radius: 15%;
    cursor: pointer;
  }