.register-form-container {
    background-color: lightblue;
    position: relative;
    width: 50%;
  }
    
  .register-input {
    border-radius: 50px;
    height: 30px;
    margin: 5px;
    text-align: center;
  }