.register-form-container {
    background-color: lightblue;
    position: relative;
    width: 50%;
  }

  .register-form-container button {
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: #0084ff;
  }
    
  .register-input {
    border-radius: 50px;
    height: 30px;
    margin: 5px;
    text-align: center;
  }

