* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Calibre, Helvetica Neue, Segoe UI, Helvetica, Arial,
    Lucida Grande, sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.page-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/* reusables */
.column {
  border: 0.5px lightgray solid;
  overflow-y: hidden;
  text-align: center;
}

.info-box-wrapper {
  border: 0 lightgray solid;
  border-bottom-width: 0.1px;
  border-top-width: 0.1px;
  height: 50px;
  display: flex;
  align-items: center;
}

.search {
  width: 80%;
  margin: 5px;
  border: 1px lightgray solid;
  border-radius: 15px;
  text-align: center;
}
.search:focus {
  outline: none;
  border: 1px #0084ff solid;
}

.form-container{
  margin: 5% auto;
  padding: 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  position: relative;
  background-color: lightblue;
  margin: auto;
  padding: 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

/* .submit-button{
  background-color: #0084ff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  height: 30px;
  margin: 5px;
  width: 75px;
  cursor: pointer;
} */


