.profile-settings-menu {
    z-index: 2000;
    text-align: center;
    display: grid;
    grid-template-columns: 30% 70%;
}

/* side bar setting list options */

.sidebar-wrapper {
    padding: 5px;
    border-right: 1px solid lightgray;
}

.settings-list {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    list-style-type: none;
}

.settings-list-item {
    height: 10%;
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-list-item:hover{
    background-color: lightblue;
    color: white;
}

.settings-list-item:hover::before {
    position: absolute;
    left: 1%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
    content: "";
} 

.active-item {
    background-color: lightblue;
    color: white;
  }

  /* selcted menu form/settings */

.form-menu-container {
    padding: 25px;
    height: 100%;
    overflow: scroll;
}

.settings-form {
    margin: auto;
    width: 70%;
}

/* 
position: relative;
background-color: lightblue;
margin: auto;
padding: 2.5%;
display: flex;
flex-direction: column;
align-items: center;
width: 50%; 
*/