.submit-button{
    background-color: #0084ff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    height: 30px;
    margin: 5px;
    width: 75px;
    cursor: pointer;
  }

.close-button {
  font-size: 75%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: black;
  cursor: pointer;
}

button:hover { 
  color: white;
  border-color: black;
}