.submit-button{
    background-color: #0084ff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    height: 30px;
    margin: 5px;
    width: 75px;
    cursor: pointer;
  }

.close-button {
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 75%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #0084ff;
  color: black;
  cursor: pointer;
}